.container {
  max-width: 1800px;
  margin: 0 auto;
  padding: 0;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background-color: #1e1e2f;
  color: white;
}

.logo h1 {
  font-size: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.nav-links a:hover {
  color: #d8e2ff;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

footer {
  background-color: #1e1e2f;
  color: white;
  margin-top: 40px;
  padding: 30px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;
}

.copy {
  text-align: center;
  font-size: 14px;
}

.footer-content h3 {
  margin-bottom: 10px;
}

/* LINKS INFERIORES */
.legal {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

.legal a {
  font-size: 14px;
  color: #666;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .nav-links {
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #1e1e2f;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    padding: 20px 0;
    transition: all 0.3s ease;
  }

  .nav-links.active {
    display: flex;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .menu-toggle {
    display: block;
  }

  .footer-content {
    flex-direction: column;
    gap: 20px;
  }
}
